/*
	Developed by Philip Renich

	http://elfboy.com
	info@elfboy.com
*/
@import "respondTo";
@import "flexbox";

%main-title {
	margin: 0 0 .5em;
	font-size: 4rem;
	line-height: 1.3;
	text-align: center;
	font-family: 'Lato', serif;
	h2 {
		font-size: .85em;
	}
}
%vertical-divider {
	padding-bottom: 1em;
	border-bottom: 1px solid #899986;
}

html { height: 100%; font-size: 62.5%; }
body {
	height: 100%;
	font: 1.6em/1.8 'Bitter', Georgia, serif;
	color: #333;
	background: #899986;

/*	background: url(../images/keep_exploring.jpg) no-repeat;
	background-size: cover;*/
}
p {
	margin: 1em 0;
}
a {
	color: #457f13;
	&:hover {
		font-weight: bold;
		line-height: 1em;
		letter-spacing: -.5px;
	}
}

#wrap {
    @include flex-container(column);

    padding: 1em;
    min-height: -webkit-calc(100% - 2em);
    min-height: calc(100% - 2em);
    background: #fff;

    @include respondTo(medium) {
    	margin: 0 auto;
    	max-width: 60rem;
    	border: 1px solid #3F503B;
    	border-width: 0 1px;
    }
}
.resume #wrap {
    @include respondTo(large) {
    	width: 90%;
    	max-width: 120rem;
    }
}

[role="main"] {
    @include flex-container(row wrap);
    -ms-flex-order: 1;
    -webkit-order: 1;
	order: 1;    
}
.main-title {
	@extend %main-title;
	>h2 {
		font-style: italic;
	}
	>p {
		margin: 1em auto 0;
		max-width: 39em;
		font-size: 1.4rem;
    	@include respondTo(large) {
    		font-size: 1.6rem;
    	}
	}
}
header.main-title {
	@extend %vertical-divider;
}

[role="secondary"] {
	@extend %vertical-divider;
	text-align: center;
	>.intro {
		@extend %main-title;
	}
	>.headshot {
		position: relative;
		display: inline-block;
		>img {
			max-width: 50%;
		}
		>.gus {
			position: absolute;
			top: 40%;
			left: 55%;
			padding: .2em 0.75em;
			opacity: 0;
			border-radius: 1em;
			font-size: 1.4rem;
			font-style: italic;
			color: #fff;
			background: rgba(0,0,0,0.6);
			-webkit-transition: opacity .5s;
			transition: opacity 1s;
		}
		&:hover>.gus {
			opacity: 1;
		}
	}
	>.contact {
		font-size: 1.4rem;
		line-height: 1.5;
		font-style: italic;
		a:hover {
			letter-spacing: 0;
		}
	}
}
.experience, .volunteer {
	>h1 {
		font-size: 2em;
	}
}
.experience {
	@include flex-item(3 0 100%);
	@include respondTo(large) {
		@include flex-item(3 0 0);
	}
	margin-right: 5em;
}
.volunteer {
	@include flex-item(2 0 0);
	padding: 1em;
	font-size: .85em;
	background: lighten(#899986, 40%);
	
}

.experience>article, .volunteer>article {
	>header {
		@include flex-container();
		@extend %justify-content-between;

		margin-bottom: -.5em;
		font-weight: bold;
	}
}


strong, b { font-weight: bold; }
em, i { font-style: italic; }