/*
	Developed by Philip Renich

	http://elfboy.com
	info@elfboy.com
*/
.experience > article > header, .volunteer > article > header {
  flex-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.main-title, [role="secondary"] > .intro {
  margin: 0 0 .5em;
  font-size: 4rem;
  line-height: 1.3;
  text-align: center;
  font-family: 'Lato', serif;
}
.main-title h2, [role="secondary"] > .intro h2 {
  font-size: .85em;
}

header.main-title, [role="secondary"] {
  padding-bottom: 1em;
  border-bottom: 1px solid #899986;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font: 1.6em/1.8 "Bitter", Georgia, serif;
  color: #333;
  background: #899986;
  /*	background: url(../images/keep_exploring.jpg) no-repeat;
  	background-size: cover;*/
}

p {
  margin: 1em 0;
}

a {
  color: #457f13;
}
a:hover {
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -0.5px;
}

#wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-lines: multiple;
  flex-flow: column;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 1em;
  min-height: -webkit-calc(100% - 2em);
  min-height: calc(100% - 2em);
  background: #fff;
}
@media only screen and (min-width: 640px) {
  #wrap {
    margin: 0 auto;
    max-width: 60rem;
    border: 1px solid #3F503B;
    border-width: 0 1px;
  }
}

@media only screen and (min-width: 1024px) {
  .resume #wrap {
    width: 90%;
    max-width: 120rem;
  }
}

[role="main"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-lines: multiple;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.main-title > h2 {
  font-style: italic;
}
.main-title > p {
  margin: 1em auto 0;
  max-width: 39em;
  font-size: 1.4rem;
}
@media only screen and (min-width: 1024px) {
  .main-title > p {
    font-size: 1.6rem;
  }
}

[role="secondary"] {
  text-align: center;
}
[role="secondary"] > .headshot {
  position: relative;
  display: inline-block;
}
[role="secondary"] > .headshot > img {
  max-width: 50%;
}
[role="secondary"] > .headshot > .gus {
  position: absolute;
  top: 40%;
  left: 55%;
  padding: .2em 0.75em;
  opacity: 0;
  border-radius: 1em;
  font-size: 1.4rem;
  font-style: italic;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity .5s;
  transition: opacity 1s;
}
[role="secondary"] > .headshot:hover > .gus {
  opacity: 1;
}
[role="secondary"] > .contact {
  font-size: 1.4rem;
  line-height: 1.5;
  font-style: italic;
}
[role="secondary"] > .contact a:hover {
  letter-spacing: 0;
}

.experience > h1, .volunteer > h1 {
  font-size: 2em;
}

.experience {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 100%;
  -moz-flex: 3 0 100%;
  -ms-flex: 3 0 100%;
  flex: 3 0 100%;
  margin-right: 5em;
}
@media only screen and (min-width: 1024px) {
  .experience {
    -webkit-box-flex: 3;
    -webkit-flex: 3 0 0;
    -moz-flex: 3 0 0;
    -ms-flex: 3 0 0;
    flex: 3 0 0;
  }
}

.volunteer {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0;
  -moz-flex: 2 0 0;
  -ms-flex: 2 0 0;
  flex: 2 0 0;
  padding: 1em;
  font-size: .85em;
  background: #f5f6f5;
}

.experience > article > header, .volunteer > article > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-lines: multiple;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-bottom: -0.5em;
  font-weight: bold;
}

[role=main] > #contact {
  display: block;
}

#contact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#contact > form {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -25rem;
  width: 50rem;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 5px 15px;
}
#contact > form > input, #contact > form > textarea {
  display: block;
  padding: .25em;
  width: calc(50% - 1rem);
}
#contact > form > textarea {
  margin: 1.25em 0;
  width: calc(100% - 2rem);
}
#contact > form > input[type="submit"] {
  width: auto;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}
