/*
	Developed by Philip Renich

	http://elfboy.com
	info@elfboy.com
*/
@import "respondTo";

html { font-size: 62.5%; }
body {
	font: 1.6em/1.8 'Bitter', Georgia, serif;
	color: #333;
	background: #899986	;

/*	background: url(../images/keep_exploring.jpg) no-repeat;
	background-size: cover;*/
}
p {
	margin: 1em 0;
}

#wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    padding: 1em;
    background: #fff;

    @include respondTo(medium) {
    	margin: 0 auto;
    	max-width: 60rem;
    	border: 1px solid #3F503B;
    	border-width: 0 1px;
    }
}

[role="main"] {
    -ms-flex-order: 1;
    -webkit-order: 1;
	order: 1;    
}
[role="secondary"] {
	padding-bottom: 1em;
	border-bottom: 1px solid;
	text-align: center;
	>.intro {
		margin: 0 0 .5em;
		font-size: 4rem;
		line-height: 1.3;
		font-family: 'Lato', serif;
	}
	>.headshot {
		position: relative;
		display: inline-block;
		>img {
			max-width: 65%;
		}
		>.gus {
			position: absolute;
			top: 40%;
			left: 55%;
			padding: .2em 0.75em;
			opacity: 0;
			border-radius: 1em;
			font-size: 1.4rem;
			font-style: italic;
			color: #fff;
			background: rgba(0,0,0,0.6);
			-webkit-transition: opacity .5s;
			transition: opacity 1s;
		}
		&:hover>.gus {
			opacity: 1;
		}
	}
	>.contact {
		font-size: 1.4rem;
		line-height: 1.5;
		font-style: italic;
	}
}