/*
	Developed by Philip Renich

	http://elfboy.com
	info@elfboy.com
*/
@import "respondTo";
@import "flexbox";

%main-title {
	margin: 0 0 .5em;
	font-size: 4rem;
	line-height: 1.3;
	text-align: center;
	font-family: 'Lato', serif;
	h2 {
		font-size: .85em;
	}
}
%vertical-divider {
	padding-bottom: 1em;
	border-bottom: 1px solid #899986;
}

html { font-size: 62.5%; }
body {
	font: 1.6em/1.8 'Bitter', Georgia, serif;
	color: #333;
	background: #899986;

/*	background: url(../images/keep_exploring.jpg) no-repeat;
	background-size: cover;*/
}
p {
	margin: 1em 0;
}

#wrap {
    @extend %flex-container;
    @extend %flex-column;

    padding: 1em;
    background: #fff;

    @include respondTo(medium) {
    	margin: 0 auto;
    	max-width: 60rem;
    	border: 1px solid #3F503B;
    	border-width: 0 1px;
    }
}

[role="main"] {
    -ms-flex-order: 1;
    -webkit-order: 1;
	order: 1;    
}
.main-title {
	@extend %main-title;
		>h2 {
			font-style: italic;
		}
}
header.main-title {
	@extend %vertical-divider;
}

[role="secondary"] {
	@extend %vertical-divider;
	>.intro {
		@extend %main-title;
	}
	>.headshot {
		position: relative;
		display: inline-block;
		>img {
			max-width: 65%;
		}
		>.gus {
			position: absolute;
			top: 40%;
			left: 55%;
			padding: .2em 0.75em;
			opacity: 0;
			border-radius: 1em;
			font-size: 1.4rem;
			font-style: italic;
			color: #fff;
			background: rgba(0,0,0,0.6);
			-webkit-transition: opacity .5s;
			transition: opacity 1s;
		}
		&:hover>.gus {
			opacity: 1;
		}
	}
	>.contact {
		font-size: 1.4rem;
		line-height: 1.5;
		font-style: italic;
	}
}

.experience>article, .volunteer>article {
	margin-bottom: 3em;
	>header {
		@extend %flex-container;
		@extend %justify-content-between;

		margin-bottom: -.5em;
		font-weight: bold;
	}
}